{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-center">
    
        <div class="row mt-5 text-enter">
            <h1>|------ PASHA ------|</h1>
            <div class=" col-md-12 text-center">
                <h2>{{name|upper}}</h2>
                <hr>
            </div>
        </div>
    
        <div class="row">
            {% for article in news %}
            <div class="col-md-3 margin-top">
                <a href="{{article.url}}" target = "_blank"> 
                    <img src="{{article.urlToImage}}" alt="Image Loading ...." class="img-responsive size ">
                </a>
    
            <div>
                <h4 class="text-center">{{article.title[:80]}}</h4>
                <p class="small">{{article.author}}</p>
                <p class="small">Posted on {{article.publishedAt}}</p>
                <hr>
                <p>{{article.description[:100]}}
                    <a href="{{article.url}}" target = "_blank">Read More</a>
                </p>
    
            </div>

        </div>
            {% endfor %}
    
    </div>

</div>

{% endblock %}
