{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<div class="container-fluid text-center">

    <div class="row pt-5" id="#home">
        <div class="col-md-12">
            <h1 class="main-header">News Highlights</h1>
        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>General News</h2>
            {{macro.displayNewsSources(general)}}
        </div>
    </div>
    <hr>

    <div class="row" id="business">
        <div class="col-md-12">
            <h2>Business News</h2>
            {{macro.displayNewsSources(business)}}
        </div>
    </div>
    <hr>

    <div class="row" id="tech">
        <div class="col-md-12">
            <h2>Technology News</h2>
            {{macro.displayNewsSources(technology)}}
        </div>
    </div>
    <hr>

    <div class="row" id="entertainment">
        <div class="col-md-12">
            <h2>Entertainment News</h2>
            {{macro.displayNewsSources(entertainment)}}
        </div>
    </div>
    <hr>

    <div class="row" id="sports">
        <div class="col-md-12">
            <h2>Sports News</h2>
            {{macro.displayNewsSources(sports)}}
        </div>
    </div>
    <hr>

    <div class="row" id="science">
        <div class="col-md-12">
            <h2>Business News</h2>
            {{macro.displayNewsSources(science)}}
        </div>
    </div>
    <hr>

    <div class="row" id="health">
        <div class="col-md-12">
            <h2>Health News</h2>
            {{macro.displayNewsSources(health)}}
        </div>
    </div>
    <hr>

    
   
    
</div>

{% endblock%}