<!-- Displaying news sources  macro  -->

{% macro displayNewsSources(categories) %}
{% for category in categories %}

<div class="col-md-3 card-display">
    <div class="row mt">
        <div class="col-md-5 style-source-name">
            <h4>{{category.source_name}}</h4>
        </div>

        <div class="col-md-7 style-source-details">
            <p> {{category.description|100}}</p>

            <a class="btn btn-warning" href="/articles/{{category.soource_id}}%20">Read Articles</a>

        </div>

    </div>


</div>

{% endfor %}
{% endmacro %}

