<!-- Displaying news list macro  -->
{% macro displayNewsList(news_list) %}



    {% for news in news_list %}
        <div class="col-md-3 card">
            <div class="row mt">
                <div class="panel panel-default">
                    <div class="panel-heading"> <a href="{{news.url}}"> {{news.title}}</a></div>
                    <div class="panel-body">
                       
                         <img src="{{ news.urlToImage }}" alt="{{ news.title }} " class="img-responsive size">
                    </div>
                    <div class="panel-footer">  <p> {{ news.description }}</p></div>
                  </div>
    

            </div>
           
       

           
              

        </div>

    {% endfor %}

{% endmacro %}



<!-- Displaying news sources list macro  -->
{% macro displayNewsSourceList(news_sources_list) %}



    {% for news_source in news_sources_list %}
        <div class=" display">
           
            

            <div class="">
                <div class=""> <a href="{{news_source.source_url}}"> {{news_source.name}}</a></div>
                <div class="">

                    <p>{{ news_source.source_description }}</p>
                   
                     
                </div>
                <div class="">  <p> {{ news_source.category }} |  {{news_source.country}}</p></div>
              </div>

              

        </div>

    {% endfor %}

{% endmacro %}